.container {
  position: fixed;
  top: 35px;
  left: 35px;
  /* width: 100%;
  height: 100%; */
  background-color: black;
  width: 900px;
  height: 700px;
}

.color-picker-container {
  text-align: center;
  display: inline;
  color: white;
}

.brushsize-container {
  display: inline;
  color: white;
  margin-left: 12px;
}

.tools-bar {
  text-align: center;
}

.board-container {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 1%;
  background-color: white;
}

.select {
  padding: 5;
  margin-top: 30;
}
